button {
	 <button id="b1">background-color:#FF0000;
	color:#000000;
<button id="b2">background-color:#FFAA33;
	color:#000000;
<button id="b3">background-color:#FFAA33;
	color:#000000;
<button id="b4">background-color:#666666;
	color:#FFFFFF;
<button id="b5">background-color:#000000;
	color:#FFFFFF;
	padding:20px;
	font-size:20px;
	margin:10px;
	border:1px solid white;
	border-radius:5px;
}
body
	{
		background-image:url('https://i.imgur.com/FCC4Lni.gif');
	background-color:#cccccc;
	}
h1 {
    color: black;
}

p {
    color:saddlebrown;
    font-family: verdana;
    font-size: 20px;
}
h3 {
    font-size:30px;
}
h2 {
color:forestgreen;
}
