button {
	background-color:#969696;
	color:#00D600;
	padding:20px;
	font-size:20px;
	margin:10px;
	border:1px solid white;
	border-radius:5px;
}
body
	{
		background-image:url('https://i.imgur.com/FCC4Lni.gif');
	background-color:#cccccc;
	}
h1 {
    color: white;
    text-align: center;
}

p {
    color:blueviolet;
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}
h3 {
    font-size:30px;
}
h2 {
color:blueviolet;
}